html {
	height: 100%;
	
}

body {
	height: calc(100% - 60px);
	/*margin-top: 60px;*/
	background-color: #7b8a8b;
}

li {
	word-wrap: break-word;
}

.navbar {
	height: 0px;
	position: relative;
	margin: 0;
	padding: 0;
}

#layout {
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#info-panel{
	height: 30%;
	background-color: red;
}

#user-list{
	height: 100%;
	float: right;
	list-style-type: none;
	list-style-position: inside;
	overflow-y: auto;
	width: 25%;
}

#user-list li {	
	font-size: 0.9em;
	text-align: right;
}

#chat-window, #game-window {
	height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#chat-panel {
	height: calc(100% - 70px);
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding: 0;
}

#chat-line-list {
	height: 100%;
	width: 100%;
	padding: .1em;
	list-style-type: none;
	overflow-y: scroll;
}

#chat-line-list > li {
	margin: .1em;
}

#chat-text-input {
	width: calc(100% - 70px);
}

#chat-button {
	width: 65px;
	float: right;
}