html {
	height: 100%;
	
}

body {
	height: calc(100% - 60px);
	/*margin-top: 60px;*/
	background-color: #7b8a8b;
}

li {
	word-wrap: break-word;
}

.navbar {
	height: 0px;
	position: relative;
	margin: 0;
	padding: 0;
}

.panel {
	width: 100%;
}

.panel-primary {
	background-color: #2C3E50;
}

.panel-primary li, .panel-primary p, .panel-primary span {
	color: #ffffff;
}

#layout {
	height: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#top-row {
	height: calc(30% - 75px);
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#game-info-col {
	height: 100%;
	padding-left: 0px;
	padding-right: 5px;
}

#user-col {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#game-info-panel, #user-panel {
	height: 100%;
	width: 100%;
}

#game-info-list, #user-list{
	height: 100%;
	width: 100%;
	list-style-type: none;
	list-style-position: inside;
	overflow-y: auto;
	padding: 0;
}

#user-list li {	
	font-size: 0.9em;
	text-align: center;
}

#questions-panel {
	height: calc(70%);
	margin-top: 5px;
	margin-bottom: 5px;
}

#chat-window, #game-window {
	height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

#chat-panel {
	height: calc(100% - 70px);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

#chat-line-list {
	height: 100%;
	width: 100%;
	padding: .1em;
	list-style-type: none;
	overflow-y: scroll;
}

#chat-line-list > li {
	margin: .1em;
}

#chat-text-input {
	width: calc(100% - 70px);
}

#chat-button {
	width: 65px;
	float: right;
}