html {
	height: 100%;
	
}

body {
	height: calc(100% - 60px);
	/*margin-top: 60px;*/
	background-color: #7b8a8b;
}

li {
	word-wrap: break-word;
	font-size: 1em;
}

.container {
	width: 100%;
}

.navbar {
	height: 0px;
	position: relative;
	margin: 0;
	padding: 0;
}

.table {
	table-layout: fixed;
	overflow-y: auto;
}

.panel {
	width: 100%;
	overflow-y: auto;
}

.panel-primary {
	background-color: #2C3E50;
}

tr, th, td, .panel-primary li, .panel-primary span {
	color: #ffffff;
}

#layout {
	height: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#top-row {
	height: 110px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#game-info-col {
	height: 100%;
	padding-left: 0px;
	padding-right: 5px;
}

#user-col {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#game-info-panel, #user-panel {
	height: 100%;
	width: 100%;
}

#host-controls {
	float: right;
	height: 100%;
	width: 60%;
}

#host-controls form {
	margin-top: 5px;
	margin-bottom: 5px;
}

#host-controls input {
	width: 140px;
}

#host-controls button {
	width: 100px;
}

#game-info-list {
	float: left;
	height: 100%;
	width: 40%;
	list-style-type: none;
	list-style-position: inside;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#user-list{
	height: 100%;
	width: 100%;
	list-style-type: none;
	list-style-position: inside;
	overflow-y: auto;
	padding: 0;
	margin: 0;
}

#user-list li {	
	font-size: 0.9em;
	text-align: center;
}

.questions-panel {
	/*height: calc(100% - 185px);*/
	height: calc(50% - 95px);
	margin-top: 5px;
	margin-bottom: 5px;
}

#chat-window, #game-window {
	height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

#chat-panel {
	height: calc(100% - 70px);
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
}

#chat-line-list {
	height: 100%;
	width: 100%;
	padding: .1em;
	list-style-type: none;
	overflow-y: auto;
}

#chat-line-list > li {
	margin: .1em;
}